.ldgr-form-field {
    margin-bottom: 25px;
    padding: 10px;
}

#ldgr-user-reg-form-submit {
    margin-left: 10px;
}

/* .ldgr-form-field label {
    margin-right: 10px;
} */

div.ldgr-group-code-registration-form-container {
    position: relative;
}

.ldgr-black-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    opacity: 0.5;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: none;
}

.ldgr-black-screen .dashicons-update.spin {
    animation: dashicons-spin 1s infinite;
    animation-timing-function: linear;
 }
 
@keyframes dashicons-spin {
    0% {
       transform: rotate( 0deg );
    }
    100% {
       transform: rotate( 360deg );
    }
}

.ldgr-group-code-messages {
    display: none;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.ldgr-group-code-container-head {
    clear: both;
}

.ldgr-group-code-messages.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.ldgr-group-code-messages.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.ldgr-message-close {
    padding: .75rem 1.25rem;
    color: inherit;
    cursor: pointer;
    display: inline-block;
}

.ldgr-message-text {
    display: inline-block;
}
